body{
    margin: 0;
}

#header{
    background: blanchedalmond;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
}

#main{
    background: bisque;
    height: 300px;
    width: 70%;
    float: left;
}

#sidebar{
    background: aqua;
    height: 300px;
    width: 30%;
    float: left;
}

#footer{
    background: red;
    height: 100px;
    width: 100%;
    clear: both;
}